/*首頁*/
/*跑馬燈*/
.Marquee {
    background: #333;
    color: #fff;
    line-height: 1.6rem;
    font-size: .8rem;
}
.Marquee i {
}
/*輪播廣告*/
.Carousel {
    position: relative;
}
.Carousel img {
    width: 100%;
}
.Carousel .slick-arrow {
    position: absolute;
    top: 45%;
    width: 40px;
    height: 40px;
    margin-top: -15px;
    background: rgba(255, 255, 255, .3);
    border: 0;
    border-radius: .2rem;
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
    transition: .3s;
    opacity: .4;
}
.Carousel .prev {
    left: 1rem;
}
.Carousel .next {
    right: 1rem;
}
.Carousel:hover .slick-arrow {
    opacity: .6;
}
.Carousel .slick-arrow:hover {
    opacity: 1;
}
.Carousel .slick-dots li button:before {
    font-size: 2rem;
    font-family: serif;
}

/*熱門列表*/
.no-gutters .NewsList {
    padding-left: 15px;
}
.NewsList .NewsListTabs {
    display: flex;
}
.NewsList .NewsListTabs li {
    display: flex;
    flex: 1;
}
.NewsList .NewsListTabs li a {
    flex: 1;
    text-align: center;
    padding: .5rem 0;
    background: #556d69;
    border-radius: 0;
    color: #fff;
}
.NewsList .NewsListTabs li a:hover {
    border-color: #333 #666 #333;
}
.NewsList .NewsListTabs li a.active {
    color: #fff;
    background: #2dab98;
    background: -moz-linear-gradient(left,  #2dab98 0%, #79ca32 100%);
    background: -webkit-linear-gradient(left,  #2dab98 0%,#79ca32 100%);
    background: linear-gradient(to right,  #2dab98 0%,#79ca32 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dab98', endColorstr='#79ca32',GradientType=1 );
    border-color: #47b47e;
}
.NewsList .NewsListContent table tr:hover {
    background-color: rgba(255, 243, 156, .3);
}
.NewsList .NewsListContent table tr td {
    font-size: .9rem;
    vertical-align: middle;
}
.NewsList .NewsListContent table tr td a {
    text-decoration: none;
    color: #333;
    transition: color .2s;
}
.NewsList .NewsListContent table tr:hover td a {
    color: #f66201;
}
.NewsList .NewsListContent table tr .date {
    color: #de1414;
    font-weight: bold;
    font-size: .7rem;
    text-align: right;
}

/*活動成果*/
.Active .PlateTitle {
    display: flex;
    align-items: center;
}
.Active .PlateTitle h5 {
    color: #415d58;
    flex: 1;
    margin-bottom: 0;
}
.Active .PlateTitle .slick-arrow {
    border: 0;
    background: transparent;
    font-size: 1.4rem;
    color: #258476;
    opacity: .6;
    transition: opacity .2s;
}
.Active .PlateTitle .slick-arrow:hover {
    opacity: 1;
}
.Active .SlideItem a {
    position: relative;
}
.Active .SlideItem h6 {
    background: rgba(47, 117, 105, .8);
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding: .5rem;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}

/*熱門服務*/
.HotServiceWrapper {
    background: #c9d4d2;
    border-top: 1px solid #fff;
    box-shadow: inset 0 3px 5px rgba(112, 136, 131, 0.5);
}
.HotServiceWrapper h5 {
    color: #546c68;
}
.HotServiceWrapper .HotService {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.HotServiceWrapper .HotService li {
    display: flex;
    flex: 1;
    list-style: none;
}
.HotServiceWrapper .HotService li a {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border-radius: .5rem;
    background: #fff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    transition: .2s;
}
.HotServiceWrapper .HotService li a i {
    font-size: 2rem;
}
.HotServiceWrapper .HotService li a:hover {
    box-shadow: #fff 0 0 0 3px, #546c68 0 0 0 2px inset;
}

/*網站導覽*/
.MapWrapper {
    background: url(/EPB_website/images/tree.png?123) #9cb7b2 repeat-x center bottom;
    background-size: 50%;
    color: #fff;
    padding: 3rem 0 6rem;
    display: flex;
}
.MapWrapper .MapList > li {
    flex: 0 0 25%;
    height: 120px;
    color: #546c68;
}
.MapWrapper .MapList > li a {
    color: #fff;
    cursor: pointer;
    transition: background-color .2s;
}
.MapWrapper .MapList > li a:hover {
    background: #2b7b6f;
    color: #fff;
}
.MapWrapper .QRCode {
    background: #fff;
    width: 120px;
    height: 120px;
}

/*footer工具*/
.TipWrapper {
    background: #2a7c6f;
    border-bottom: 1px solid #17675b;
    color: #fff;
}
.TipWrapper .TipPlate {
    display: flex;
    padding: 2rem;
}
.TipWrapper .TipPlate ul {
    list-style: none;
}
.TipWrapper .TipPlate ul {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.TipWrapper .TipPlate ul li {
    margin-bottom: 1rem;
}

/*相關連結*/
.LinkWrapper {
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}
.LinkWrapper ul li {
    width: 190px;
    height: 35px;
    border: 2px solid transparent;
    box-sizing: content-box;
}
.LinkWrapper ul li:hover {
    border: 2px solid #ffc107;
}

/*認證*/
.ApproveWrapper {
    display: block;
}
.ApproveWrapper .Approve {
    max-width: 120px;
    border: 2px solid transparent;
    border-radius: 4px;
    overflow: hidden;
}
.ApproveWrapper .Approve:hover {
    border: 2px solid #ffc107;
}