/*共用外框*/
body {
    margin: 0;
    padding: 0;
    font-family: '微軟正黑體', 'Arial';
}

section {
    width: 100%;
    height: 100%;
    max-width: 768px;
    margin: 0 auto;
    background: rgba(0,0,0,.5) center;
}

footer {
    width: 100%;
    color: #fff;
    border-top: 1px solid #93bf6c;
    background: #267d70;
    background: -moz-linear-gradient(left, #267d70 0%, #75af68 100%);
    background: -webkit-linear-gradient(left, #267d70 0%,#75af68 100%);
    background: linear-gradient(to right, #267d70 0%,#75af68 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267d70', endColorstr='#75af68',GradientType=1 );
    font-size: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}