@charset "UTF-8";
@media (max-width: 768px) {
    *::-webkit-scrollbar-track,
    * *::-webkit-scrollbar-track {
        -webkit-box-shadow: initial;
        border-radius: initial;
        background-color: initial;
    }
    *::-webkit-scrollbar,
    * *::-webkit-scrollbar {
        width: 1px;
        height: 1px;
        background-color: initial;
    }
    *::-webkit-scrollbar-thumb,
    * *::-webkit-scrollbar-thumb {
        border-radius: initial;
        -webkit-box-shadow: initial;
        background-color: initial;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}
@media (max-width: 768px) {
    /*main*/
    #WebHeader {
        display: none;
    }
    #MobileHeader {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 7;
        background: rgba(255, 255, 255, .9);
    }
    #MobileHeader .MobileHeaderWrapper .MenuWrapper {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 50;
        width: 300px;
        height: 100%;
        background: #248577;
        overflow: auto;
    }
    #MobileHeader .menu-overlay {
        display: none;
        background-color: #000;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* IE7 & 8 */
        position: fixed;
        right: 0;
        top: 0;
        z-index: 49;
    }
    /*home*/
    .no-gutters .NewsList {
        padding-left: 0;
    }
}