<!--關於我們-->
<div id="About" class="container pt-4">
    <div class="BreadcrumbWrapper mb-0">
        <nav aria-label="breadcrumb" class="d-flex align-items-center">
            <span class="mb-0 mr-3">現在位置</span>
            <i class="fas fa-caret-right"></i>
            <ol class="breadcrumb mb-0 pa-0">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <i class="mr-1 fas fa-house-user"></i>
                    關於我們
                </li>
            </ol>
        </nav>
    </div>
    <nav class="mb-3">
        <div class="nav nav-tabs justify-content-center justify-content-md-start AboutNav" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" data-toggle="tab" ui-sref="about.team({'area': 'All'})" ui-sref-opts="{reload: true, notify: true}" ui-sref-active="{'active':'about.team'}">各區環保志工隊</a>
            <a class="nav-item nav-link" data-toggle="tab" ui-sref="about.plan" ui-sref-opts="{reload: true, notify: true}" ui-sref-active="active">各環保志工服務計畫</a>
        </div>
    </nav>
    <div class="d-flex flex-column flex-lg-row mb-3">
        <div class="form-inline SelectArea mb-3 mb-lg-0">
            <div class="form-inline input-group mb-3 mb-sm-0">
                <label for="Area" class="mr-3 mb-0 d-inline-flex align-items-center">選擇地區</label>
                <select id="Area" class="form-control" ng-model="value" ng-init="value = SelectArea" ng-change="ChangeArea(value)">
                    <option value="All">全部地區</option>
                    <option ng-repeat="(key, area) in Data.arealist" value="[{area.key}]">[{area.name}]</option>
                </select>
            </div>
            <div class="ml-0 ml-md-3 form-inline input-group">
                <label for="search" class="mr-3 mb-0 d-inline-flex align-items-center">隊名搜尋</label>
                <input type="text" class="form-control" id="search" ng-model="Search">
                <div class="input-group-append">
                    <a href="javascript:void(0)" ng-click="SearchTeam()" class="input-group-text text-decoration-none BtnSearch"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center justify-content-md-end align-items-center PageWrapper">
            <span class="d-none d-md-inline NowPage">當前第 <span class="text-danger">[{Page}]</span> 頁 -</span>
            <nav>
                <ul class="pagination pagination-sm mb-0">
                    <li class="page-item ml-2">
                        <a class="page-link" ng-click="AddPage(-1)">&laquo;</a>
                    </li>
                    <li class="page-item ml-2" ng-repeat="page in PageRange" ng-class="{true: 'active'}[Page == page]">
                        <a class="page-link" ng-click="ChangePage(page)">[{page}]</a>
                    </li>
                    <li class="page-item ml-2">
                        <a class="page-link" ng-click="AddPage(1)">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div ui-view></div>
    <div class="d-flex justify-content-center justify-content-md-end align-items-center mt-3 mb-4 PageWrapper">
        <span class="d-none d-md-inline NowPage">當前第 <span class="text-danger">[{Page}]</span> 頁 -</span>
        <nav>
            <ul class="pagination pagination-sm mb-0">
                <li class="page-item ml-2">
                    <a class="page-link" ng-click="AddPage(-1)">&laquo;</a>
                </li>
                <li class="page-item ml-2" ng-repeat="page in PageRange" ng-class="{true: 'active'}[Page == page]">
                    <a class="page-link" ng-click="ChangePage(page)">[{page}]</a>
                </li>
                <li class="page-item ml-2">
                    <a class="page-link" ng-click="AddPage(1)">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>