<!--活動成果-->
<div id="Activity" class="container pt-4">
    <div class="BreadcrumbWrapper mb-0">
        <nav aria-label="breadcrumb" class="d-flex align-items-center">
            <span class="mb-0 mr-3">現在位置</span>
            <i class="fas fa-caret-right"></i>
            <ol class="breadcrumb mb-0 pa-0">
                <li class="breadcrumb-item">
                    <a ui-sref="home">首頁</a>
                </li>
                <li class="breadcrumb-item" ng-class="{true: 'active'}[!ActivityID]">
                    <i class="mr-1 fas fa-award"></i>
                    <a ng-href="#/activity/">活動成果</a>
                </li>
                <li ng-show="ActivityID" class="breadcrumb-item" ng-class="{false: 'active'}[!ActivityID]">
                    <a>內容</a>
                </li>
            </ol>
        </nav>
    </div>
    <div ng-if="!ActivityID">
        <div class="d-flex justify-content-center justify-content-md-end align-items-center mb-2 PageWrapper">
            <span class="d-none d-md-inline NowPage">當前第 <span class="text-danger">[{Page}]</span> 頁 -</span>
            <nav>
                <ul class="pagination pagination-sm mb-0">
                    <li class="page-item ml-2">
                        <a class="page-link" ng-click="AddPage(-1)">&laquo;</a>
                    </li>
                    <li class="page-item ml-2" ng-repeat="page in PageRange" ng-class="{true: 'active'}[Page == page]">
                        <a class="page-link" ng-click="ChangePage(page)">[{page}]</a>
                    </li>
                    <li class="page-item ml-2">
                        <a class="page-link" ng-click="AddPage(1)">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="table-responsive ListTableWrapper">
            <table class="table table-striped table-hover text-center mb-0">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="Hash">#</th>
                    <th scope="col" class="ViewImg">圖片</th>
                    <th scope="col">標題</th>
                    <th scope="col" class="d-none d-md-table-cell">活動日期</th>
                    <th scope="col" class="d-none d-md-table-cell">發布日期</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(id, info) in Data.active">
                    <th scope="row">[{id}].</th>
                    <td>
                        <img class="img-fluid" ng-src="[{info['view-img']}]" alt="[{info.title}](縮圖)">
                    </td>
                    <td>
                        <a class="btn btn-link btn-block text-left text-decoration-none px-3 py-0 Link" ng-href="[{info.url}]" title="[{info.title}]">[{info.title}]</a>
                    </td>
                    <td class="d-none d-md-table-cell">[{info.actiondate}]</td>
                    <td class="d-none d-md-table-cell">[{info.update}]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center justify-content-md-end align-items-center mt-2 mb-4 PageWrapper">
            <span class="d-none d-md-inline NowPage">當前第 <span class="text-danger">[{Page}]</span> 頁 -</span>
            <nav>
                <ul class="pagination pagination-sm mb-0">
                    <li class="page-item ml-2">
                        <a class="page-link" ng-click="AddPage(-1)">&laquo;</a>
                    </li>
                    <li class="page-item ml-2" ng-repeat="page in PageRange" ng-class="{true: 'active'}[Page == page]">
                        <a class="page-link" ng-click="ChangePage(page)">[{page}]</a>
                    </li>
                    <li class="page-item ml-2">
                        <a class="page-link" ng-click="AddPage(1)">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--活動內文-->
    <div ng-if="ActivityID" class="table-responsive ActivityContentWrapper">
        <div class="d-flex justify-content-end align-items-center mb-2">
            <a class="btn btn-sm btnBack" ui-sref="activity({'id': ''})"><i class="mr-1 fas fa-reply"></i>回上一頁</a>
        </div>
        <table class="table table-striped table-hover mb-0">
            <thead>
            <tr>
                <th ng-bind="Data.active[ActivityID].title"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <ul class="list-unstyled Date">
                        <li class="text-danger font-weight-bold">發布日期：[{Data.active[ActivityID].update}]</li>
                        <li class="text-danger font-weight-bold">活動日期：[{Data.active[ActivityID].actiondate}]</li>
                    </ul>
                    <div class="pb-3 mb-3 ActivityContent" ng-bind-html="Data.active[ActivityID].content"></div>
                    <div class="ActivityImgWrapper">
                        <ul class="mb-0 list-unstyled d-flex flex-row flex-wrap ActivityImgList">
                            <li ng-repeat="image in Data.active[ActivityID].img" class="mr-3 mb-3 ActivityImgItem">
                                <a data-fancybox="gallery" ng-href="[{image}]">
                                    <img ng-src="[{image}]" class="img-fluid">
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>